{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    {% if title %}
    <title>Image-Galore - {{title}}</title>
    {% else %}
      <title> Image-Galore </title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.4/dist/jquery.fancybox.min.css" />
      <link rel="stylesheet" href="{% static 'css/baseimages.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    {% endblock %}
</head> 
<body>
    {% include "navbar.html" %}
    {% block content %} 
    <h1 id ='welcome' class='text-center' >Welcome to Image Galore</h1> 
    {%endblock%}

    {% block scripts%}
        <!-- jQuery library -->
        {% bootstrap_javascript %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    {% endblock %}
</body> 
</html>